@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Be Vietnam Pro"; 
  color: #E2E4F3;
}

body,#root {
  height: 100%;

}